# Python
__pycache__/
*.py[cod]
*$py.class

# Virtual Environment
venv/
.venv/
env/

# Airflow
logs/
airflow.db
airflow-webserver.pid

# macOS
.DS_Store

# VS Code
.vscode/

# Environment Variables
.env
.env.*

# Credentials
*.json
!sample_credentials.json

# Jupyter
.ipynb_checkpoints/

# Python Cache
.pytest_cache/
.mypy_cache/

# Temporary Files
*.log
*.tmp

# OS Files
Thumbs.db
