# ==========================
# Python
# ==========================
__pycache__/
*.py[cod]
*.pyo
*.pyd

# ==========================
# Airflow
# ==========================
logs/
airflow.db
airflow-webserver.pid

# ==========================
# Virtual Environments
# ==========================
venv/
.venv/
env/

# ==========================
# macOS
# ==========================
.DS_Store

# ==========================
# VS Code
# ==========================
.vscode/

# ==========================
# Environment Variables
# ==========================
.env
.env.*

# ==========================
# Google Cloud Credentials
# ==========================
service-account*.json
credentials*.json
gcp-key*.json

# ==========================
# Python Cache
# ==========================
.pytest_cache/
.mypy_cache/

# ==========================
# Temporary Files
# ==========================
*.log
*.tmp

# ==========================
# OS Files
# ==========================
Thumbs.db
